.renderWrapper {
    width: 100%;
    height: 100%;

    overflow: hidden;
    > * {
        width: 100%;
        height: 100%;
    }

    .imgWrapper {
        background-repeat: no-repeat;
        // background-size: cover;
        background-position: center;
        background-size: 100% 100%;
    }

    .textWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
