.sideWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(255 255 255);
    border-right: 1px solid #eaeaea;
    cursor: pointer;

    .createbuttonStyle {
        padding: 0 10px;
        margin-top: 4px;
        .createBtn {
            width: 100% !important;
        }
    }

    .list {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
    }
}
