.editorPage {
    height: 100vh;

    :global {
        .ant-layout-header {
            position: relative;
            z-index: 1;
            background-color: #fff;
            border-bottom: 1px solid #d9d9d9;
            box-shadow: rgb(0 0 0 / 8%) 0 2px 8px;
        }
    }
}

.editorHeader {
    padding: 0 !important;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 8%) 0 2px 8px;
}
