.loadingWrapper {
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../../../static/img/back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
